@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  color: black;
}

.produtos{
    margin: 5%;
}

body{
  width: 100%;
  height: auto;
  background-color: #1155C0;
}